In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
# Load the dataset into a Pandas DataFrame
data = pd.read_csv('student_data.csv', encoding= 'unicode_escape')

In [3]:
data.shape

(120, 5)

In [27]:
data.head()

   student id  internal marks  external marks  total marks  final marks
0           1             280             330          610        87.14
1           2             320             340          660        94.28
2           3             290             320          610        87.14
3           4             250             280          530        75.71
4           5             310             330          640        97.42

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   student id      120 non-null    int64
 1   internal marks  120 non-null    int64
 2   external marks  120 non-null    int64
 3   total marks     120 non-null    int64
 4   final marks     120 non-null    float64
dtypes: float64(1), int64(4)
memory usage: 4.8 KB

In [6]:
#check for null values
pd.isnull(data).sum()

student id        0
internal marks    0
external marks    0
total marks       0
final marks       0
dtype: int64

In [7]:
data.describe()

       student id  internal marks  external marks  total marks  final marks
count  120.000000      120.000000      120.000000   120.000000   120.000000
mean    60.500000      291.000000      311.666667   602.666667    86.145333
std     34.785054       21.435853       21.898672    42.421125     6.129185
min      1.000000      240.000000      250.000000   490.000000    70.000000
25%     30.750000      280.000000      290.000000   570.000000    81.420000
50%     60.500000      290.000000      320.000000   610.000000    87.140000
75%     90.250000      310.000000      330.000000   640.000000    91.420000
max    120.000000      330.000000      350.000000   670.000000    97.420000

In [17]:
# Split the dataset into features (X) and target (y) variables
X = data[['internal marks', 'external marks']]
y = data['final marks']

In [ ]:
# Create an instance of the LinearRegression class
model = LinearRegression()

In [ ]:
# Train the model on the entire dataset
model.fit(X, y)

In [25]:
# Predict the final marks for a student with 270 internal and 280 external marks
new_data = {'internal marks': [240], 'external marks': [250]}
new_X = pd.DataFrame(new_data)
new_y = model.predict(new_X)

In [26]:
print(f'Predicted final marks in perctange : {new_y[0]:.2f}')

Predicted final marks in perctange : 69.94